<h1>Show Transfer pix</h1>

<ul>

  <li>
    <strong>Chave:</strong>
    <%= @transfer_pix.chave %>
  </li>

  <li>
    <strong>Tipo:</strong>
    <%= @transfer_pix.tipo %>
  </li>

  <li>
    <strong>Transfer_id:</strong>
    <%= @transfer_pix.transfer_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.transfer_pix_path(@conn, :edit, @transfer_pix) %></span> |
<span><%= link "Back", to: Routes.transfer_pix_path(@conn, :index) %></span>
