<h1>Edit Transfer ted doc</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.transfer_ted_doc_path(@conn, :update, @transfer_ted_doc)) %>

<span><%= link "Back", to: Routes.transfer_ted_doc_path(@conn, :index) %></span>
